# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db
ehthumbs.db

# -----------------------------
# General temp / compressed
# -----------------------------
 
*.tmp
*.log
*.dat
*.out

# -----------------------------
# Editors / backups
# -----------------------------
*~
\#*\#
.\#*
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
*-backups/
/*-backups/

# -----------------------------
# VS / IDE
# -----------------------------
*.vs
*.vscode*

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc

# -----------------------------
# Emacs / Org / tooling
# -----------------------------
.org-id-locations
*_archive
*_flymake.*
flycheck_*.el

# -----------------------------
# Shell / eshell
# -----------------------------
/eshell/history
/eshell/lastdir

# -----------------------------
# Packages / build
# -----------------------------
.elpa/
.cask/
dist/
*build

# -----------------------------
# Project config
# -----------------------------
.projectile
.dir-locals.el
/network-security.data
/server/

# -----------------------------
# Private
# -----------------------------
Private

# -----------------------------
# FreeCAD
# -----------------------------
*.fcstd1
*.FCStd1
*.fcstd2
*.FCStd2
*.FCBak

# -----------------------------
# KiCad / PCB
# -----------------------------

# Backups & autosave
.autosave
.history/
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.sch-bak
_autosave-*

# Temp numbering files
*.000

# Fabrication / outputs
*.drl
*.gbr
*.fab
*.net
*.xml
*.csv
*.txt
*.pos
*.pnp

# Simulation
*.cir
*.raw
*.sra
*.st

# Cache / render
*-cache.wrl
*-cache.png

# Reports / sessions
*.dsn
*.ses
*.lck
*.drc
*.erc

# Local configs
fp-info-cache
sym-info-cache
kicad_pro.user
kicad_wks.user
*.kicad_prl

# -----------------------------
# Eagle PCB
# -----------------------------
*.b#*
*.s#*

# -----------------------------
# PlatformIO
# -----------------------------
platformio_override.ini

# -----------------------------
# Optional (uncomment if needed)
# -----------------------------
# *.pdf
# *.ps
# *.svg
_notes/
